@page
@model ZyPanel.Areas.Co.Pages.Karset.IndexModel
@{
    ViewBag.Title = "کارست";
    var createUrl = Url.Page("", "Create");
}

<partial name="_Alert" model="Model.Alert" />

<div class="table-container">
    <div class="table-container-header">
        <button class="btn btn-outline-dark" data-title="افزودن کارست" data-url='@createUrl'
            onclick='ajaxLoadPartialForm(this)'>
            افزودن
        </button>
    </div>
    <div class="table-responsive" id="dataList">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نوع</th>
                    <th>تاریخ</th>
                    <th>تناژ قطعه</th>
                    <th>تناژ برنامه</th>
                    <th>تحقیق</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.List.Any())
                {
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.KarsetTitle</td>
                            <td class="ltr">@item.PersianCreatDate</td>
                            <td>@item.ProductTonnageAsTone</td>
                            <td>@item.PlanningTonnageAsTone</td>
                            <td>@item.Available</td>
                        </tr>
                    }
                }
                else
                {
                    <tr data-span></tr>
                }
            </tbody>
        </table>
        <partial name="_Pagination" model='(Model.List.TotalPages)' />
    </div>
</div>


@section Scripts{
<partial name="_Date" />
}