@page
@model ZyPanel.Areas.Co.Pages.Template.IndexModel
@{
    ViewBag.Title = "قالب ها";
    var createUrl = Url.Page("", "Create");
}

<partial name="_Alert" model="Model.Alert" />

<div class="table-container">
    <div class="table-container-header">
        <button class="btn btn-outline-dark" data-title="افزودن قالب" data-url='@createUrl'
            onclick='ajaxLoadPartialForm(this)'>
            افزودن
        </button>
             <form method="GET">
            <input type="text" name="filter" class="form-control" placeholder="کد قالب...">
            <input type="hidden" value="1" name="p" class="form-control">
            <button type="submit" class="btn btn-outline-dark">
                جستجو...
            </button>
        </form>
    </div>
    <div class="table-responsive" id="dataList">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>خط</th>
                    <th>کد</th>
                    <th>وضعیت</th>
                    <th>آماده به کار</th>
                    <th>آخرین تاریخ وزن کشی</th>
                    <th>وزن خوشه فعلی (kg)</th>
                    <th>تعداد کویته</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.List.Any())
                {
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td data-null>@item.Hall</td>
                            <td>@item.Code</td>
                            <td data-change>
                                <input class="form-check-input" type="checkbox" onchange="ajaxCheckBox(this)"
                                    @(item.IsActive ? "checked" : null) data-url='@Url.Page("","Active",new
                                    {id=@item.Id})'>
                            </td>
                            <td data-ready="@item.IsReady"></td>
                            <td data-null>@item.WeightingDate</td>
                            <td data-null>@item.TemplateWeight</td>
                            <td>@item.KaviteCount</td>
                            <td data-change>
                                <div>
                                    <button type="button" data-edit data-title="ویرایش : @item.Code"
                                data-url='@Url.Page("","Edit",new {templateId=@item.Id})' onclick="ajaxLoadPartialForm(this)">
                                        <i class="bi"></i>
                                    </button>
                                    <a asp-area="Co" asp-page="/Template/Weight" asp-route-id="@item.Id" target="_blank" data-more>تعیین وزن و زمان سنجی</a>
                                    <a asp-area="Co" asp-page="/Template/AssignLine" asp-route-id="@item.Id" target="_blank" data-more>افزودن خط</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <table class="table nested-table">
                                    <thead>
                                        <tr>
                                            <th class="text-start">
                                            <button class="btn btn-outline-dark btn-sm" data-title="افزودن قطعه به قالب @item.Code"
                                                data-url='@Url.Page("", "CreateProduct",new {templateId=@item.Id})'
                                                onclick='ajaxLoadPartialForm(this)'>افزودن قطعه
                                            </button>
                                            </th>
                                            <th>قطعه</th>
                                            <th>وزن قطعه (kg) - مجموع @(item.TotalProductWeight) کیلوگرم
                                                </th>
                                            <th>تعداد</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var child in item.Products)
                                        {
                                            <tr>
                                                <td>@child.Id</td>
                                                <td data-null>@child.ProductTitle</td>
                                                <td data-null>@child.ProductWeight</td>
                                                <td data-null>@child.ProductCount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr data-span></tr>
                }
            </tbody>
        </table>
        <partial name="_Pagination" model='(Model.List.TotalPages)' />
    </div>
</div>