@page
@model ZyPanel.Areas.Reports.Pages.Charts.StopChartModel
@{
    var title = "گزارش توقفات";
    ViewBag.Title = title;
}
<div class="card my-3">
    <div class="card-header">
        @title - @Model.Year
    </div>
    <div class="card-body">
        <form asp-page="" method="get" class="container-fluid">
            <select asp-for="Year">
                @for (var i = Model.StartYear; i <= Model.CurrentYear; i++)
                {
                    <b>@i</b>
                    var selected = Model.Year == i;
                    <option value="@i" selected="@selected">@i</option>
                }
            </select>
            <select asp-for="HallType" asp-items="Html.GetEnumSelectList<HallType>()"></select>
            <button type="submit" class="btn btn-outline-dark">جستجو</button>
        </form>
        <div class="container" data-line-chart>
            <div id="myChartContainer" data-title data-y-title="زمان(m)"></div>
        </div>
    </div>
</div>

@section Scripts{
<partial name="_AnyChart" />
<script>
    let hallTitle = selectedOptText(document.getElementById("HallType"));
    document.getElementById("myChartContainer").setAttribute("data-title", `${hallTitle}-@Model.Year`);
    let chartData = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ChartData)));
    drawLineChart(document.getElementById("myChartContainer"), chartData);
</script>
}