@page
@model ZyPanel.Areas.Co.Pages.Temp.QControlModel
@{
    var title = "گزارش کنترل کیفی";
    ViewBag.Title = title;
}

<div class="card my-3">
    <div class="card-header">
        @title
    </div>
    <div class="card-body">
        <form asp-page="" method="get" class="mt-3">
            <div class="row">
                <div class="col-3 begin-date">
                    <div data-picker>
                        <label for="date" class="col-form-label">شروع</label>
                        <div class="col" data-date>
                            <input type="text" value='@Model.BeginDate' name="begindate" class="form-control" readonly>
                            <button type="button" data-trigger>
                                <i class="bi select-date"></i>
                                <i class="bi reset-date"></i>
                            </button>
                        </div>
                        <div data-container></div>
                    </div>
                </div>
                <div class="col-3 finish-date">
                    <div data-picker>
                        <label for="date" class="col-form-label">پایان</label>
                        <div class="col" data-date>
                            <input type="text" value='@Model.FinishDate' name="finishdate" class="form-control"
                                readonly>
                            <button type="button" data-trigger>
                                <i class="bi select-date"></i>
                                <i class="bi reset-date"></i>
                            </button>
                        </div>
                        <div data-container></div>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark">جستجو</button>
                </div>
            </div>
        </form>

        <div class="table-container my-3">
            <div class="table-responsive" id="dataList">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>سالن</th>
                            <th>قطعه</th>
                            <th>ضایع</th>
                            <th>سالم</th>
                            <th>درصد ضایع</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.List.Any())
                        {
                            foreach (var item in Model.List)
                            {
                                        <tr>
                                            <td>@item.Hall</td>
                                            <td>@item.Product</td>
                                            <td>@item.Waste</td>
                                            <td>@item.Healthy</td>
                                            <td>@item.WastePercent %</td>
                                            <td data-change>
                                                <div>
                                                    <a asp-area="Co" asp-page="/Reports/QControlDetails" asp-route-productid="@item.ProductId"
                                        asp-route-begindate="@Model.BeginDate" asp-route-finishdate="@Model.FinishDate"
                                        target="_blank" data-more>جزئیات</a>
                                                </div>
                                            </td>
                                        </tr>
                            }
                        }
                        else
                        {
                                <tr data-span></tr>
                        }
                    </tbody>
                </table>
                <partial name="_Pagination" model='(Model.List.TotalPages)' />
            </div>
        </div>
    </div>
</div>




@section Scripts{
<partial name="_Date" />
<script>
    datePicker(document.querySelector(".begin-date"));
    datePicker(document.querySelector(".finish-date"));
</script>
}