@page
@model ZyPanel.Areas.Co.Pages.Schedule.IndexModel
@{
    ViewBag.Title = "شیفت ها";
}

<partial name="_Alert" model="Model.Alert" />

<br>

<div class="table-container">
    <div class="table-responsive" id="dataList">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>نوع</th>
                    <th>زمان ها</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>@item.ScheduleTitle</td>
                        <td>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>شیفت</th>
                                        <th>شروع</th>
                                        <th>پایان</th>
                                        <th>تعیین ساعت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (item.Times != null)
                                    {
                                        int index = 0;
                                        foreach (var child in item.Times)
                                        {
                                            index++;
                                            <tr>
                                                <td>@index</td>
                                                <td data-null>@child.BeginTime</td>
                                                <td data-null>@child.FinishTime</td>
                                                <td data-change>
                                                    <div>
                                                        <button type="button" data-edit data-title="@item.ScheduleTitle"
                                                data-url='@Url.Page("","Create",new {id=@child.Id})'
                                                onclick="ajaxLoadPartialForm(this)">
                                                            <i class="bi"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>